@layer components {
  .container {
    container-type: inline-size;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: var(--lm-space-4);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--lm-space-4);
  }

  .col, [class*="col-"] {
    grid-column: span var(--col-span, 12);
  }

  .col-1 { --col-span: 1; }
  .col-2 { --col-span: 2; }
  .col-3 { --col-span: 3; }
  .col-4 { --col-span: 4; }
  .col-5 { --col-span: 5; }
  .col-6 { --col-span: 6; }
  .col-7 { --col-span: 7; }
  .col-8 { --col-span: 8; }
  .col-9 { --col-span: 9; }
  .col-10 { --col-span: 10; }
  .col-11 { --col-span: 11; }
  .col-12 { --col-span: 12; }

  @container (max-width: 640px) {
    .row {
      grid-template-columns: repeat(4, 1fr);
    }

    .col-small-1 { --col-span: 1; }
    .col-small-2 { --col-span: 2; }
    .col-small-3 { --col-span: 3; }
    .col-small-4 { --col-span: 4; }
    .col-small-full { --col-span: 4; }
  }

  @container (min-width: 641px) and (max-width: 1024px) {
    .col-medium-1 { --col-span: 1; }
    .col-medium-2 { --col-span: 2; }
    .col-medium-3 { --col-span: 3; }
    .col-medium-4 { --col-span: 4; }
    .col-medium-5 { --col-span: 5; }
    .col-medium-6 { --col-span: 6; }
    .col-medium-7 { --col-span: 7; }
    .col-medium-8 { --col-span: 8; }
    .col-medium-9 { --col-span: 9; }
    .col-medium-10 { --col-span: 10; }
    .col-medium-11 { --col-span: 11; }
    .col-medium-12 { --col-span: 12; }
  }

  @container (min-width: 1025px) {
    .col-large-1 { --col-span: 1; }
    .col-large-2 { --col-span: 2; }
    .col-large-3 { --col-span: 3; }
    .col-large-4 { --col-span: 4; }
    .col-large-5 { --col-span: 5; }
    .col-large-6 { --col-span: 6; }
    .col-large-7 { --col-span: 7; }
    .col-large-8 { --col-span: 8; }
    .col-large-9 { --col-span: 9; }
    .col-large-10 { --col-span: 10; }
    .col-large-11 { --col-span: 11; }
    .col-large-12 { --col-span: 12; }
  }

  .grid {
    display: grid;
    gap: var(--lm-space-4);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-min, 250px), 1fr));
  }
}
